@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
body{
    font-family: 'Cinzel', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color:#F5F5F5;
    color: #000000;
}
.container{
    max-width: 1235px;
    width: 90%;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* header */
body header{
    background-color: #F5EFEF;
}
body header .container .inner-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
}
body header .container .inner-header nav ul{
    display: flex;
    margin-left: 395px;
}
body header .container .inner-header nav ul li{
    margin-right: 45px;
}
body header .container .inner-header nav ul li a{
    font-family: 'Cinzel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #3F3232;
}

/* footer */

footer .footer-box .socials {
    display: flex;
    gap: 27px;
    margin-top: 45px;
}